p You are not logged in.
p
  a(href="/signup") Sign up.

form(action="/login" method="post")
  input(type="text" name="username" placeholder="Enter username")
  input(type="password" name="password")
  input(type="submit" name="login" value="log in")
