doctype html
html(lang="en")
  head
    title #{title}
  
  body
    h1 bookface
    
    if loggedIn
      include bodyloggedin
    
    if !loggedIn
      include bodyloggedout
      
  include javascript
