doctype html
html(lang="en")
  head
    title #{title}
  
  body
    h1 bookface
    
    if isAuthed
      include bodyloggedin
    
    if !isAuthed
      include bodyloggedout
      
  include javascript
